body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
  background-color: #42007d;
  background-image: linear-gradient(160deg, #42007d 0%, #000000 100%);
  background-size: cover;
}

body, html {
  height: 1200px;
}